.h2Cart {
    font-size: clamp(14px, 2.5vw, 22px);
}

.h3Cart {
    font-size: clamp(14px, 2vw, 18px);
    margin: 10px 0px 10px 0px;
}

.h4Cart {
    font-size: clamp(14px, 1.5vw, 16px);
}

.cardProduto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 30px;
    border-bottom: 1px solid var(--bg-buttom);
}

.divInfoProduto {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 5px;
}

.divInfoProduto > .divInfoProdutoTexto > h2 {
    margin-top: 7px;
    margin-bottom: 0;
    color: var(--text-color);
}

.imgProduto {
    height: 80px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: var(--bg-buttom);
    object-fit: cover;
}

.divBotoesQuantidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btnQuantidadeMais {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #0047d6;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.btnQuantidadeMenos {
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--bg-buttom);
    color: #0047d6;
    font-size: 18px;
    border-radius: 5px;
}

.divTotalProduto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    gap: 45px;
}

.btnRemover {
    height: 35px;
    width: 35px;
    border: none;
    background-color: rgba(255,0,0,0.08);
    color: #ff3b3b;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}