.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 0.800rem;
    font-weight: 800;
    color: var(--text-color);
    width: 86%;
}

@media (min-width: 600px) {
    .header {
        width: 56%;
        justify-self: center;
    }
}

@media (min-width: 1000px) {
    .header {
        width: 70%;
        justify-self: center;
    }
}

@media (min-width: 1200px) {
    .header {
        width: 56%;
        justify-self: center;
    }
}

@media (min-width: 1600px) {
    .header {
        width: 55%;
        justify-self: center;
    }
}