.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 85%;
    max-width: 768px;
    margin-top: 20px;
    margin-bottom: 30px;
    place-self: center
}

.carouselContainer {
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
}

.carouselTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner {
    width: 100%;
    flex-shrink: 0;
    height: auto;
}

.viewAdShop {
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: var(--border-color);
    transition: 0.3s;
}

.active {
    width: 24px;
    height: 8px;
    border-radius: 100px;
    background-color: #0047BB;
    transition: 0.3s;
}