.h2Ex6 {
    font-size: clamp(16px, 2.5vw, 22px);
}

.h3Ex6 {
    font-size: clamp(14px, 2vw, 18px);
}

.h4Ex6 {
    font-size: clamp(14px, 1.5vw, 16px);
}

.carrinho {
    width: 90%;
    max-width: 700px;
    margin-top: 40px;
    border-top: 1px solid var(--bg-buttom);
    padding: 5px;
}