.listContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 0px;
  width: 90%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden; 
  margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    
}

.sectionTitle {
  font-size: 30px;
  font-weight: 800;
  color: var(--text-color);
  margin: 0;
}

.line {
    flex: 1;
    height: 1px;
    background: color-mix(in srgb, var(--text-color) 15%, transparent);
}

.sectionSubtitle {
  font-size: 15px;
  padding: 0;
  position: relative;
  bottom: 20px;
  color: rgb(84, 84, 84);
}
