.page {
    width: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > img {
    width: 100%;
    height: auto;
}

.viewAdShop {
    display: flex;
    gap: 8px;
}

.productsArea {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    justify-content: center;
    gap: 12px;
}

.viewMoreButton {
    width: 90%;
    max-width: 600px;
    margin-bottom: 30px;
    background: var(--bg-buttom);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

.viewMoreButton:active {
    transform: scale(0.97);
    opacity: 0.9;
}

.amountProducts {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .productsArea {
        grid-template-columns: repeat(auto-fit, minmax(190px, max-content));
    }
}

@media screen and (min-width: 1024px) {
    .productsArea {
        grid-template-columns: repeat(auto-fit, minmax(230px, max-content));
    }

    .viewMoreButton {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {
    .productsArea {
        grid-template-columns: repeat(auto-fit, minmax(130px, max-content));
    }
}