#root, html, body{
  width: 100%;
  height: 100%;
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
  scroll-behavior: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: #ffcc00;
  border-radius: 999px;
  border: 2px solid var(--bg-color);
}